body .mindar-ui-scanning .scanning {
  width: 70vw;
}
.btn {
  position: absolute;
  z-index: 1000;
  text-align: center;
  width: 100%;
}

.App {
  text-align: center;
}

.container {
  margin: 20px auto;
  position: relative;
  height: 430px;
  width: 600px;
  overflow: hidden;
}

button {
  position: absolute;
  z-index: 1000;
  text-align: center;
}
